.index-image{
  width: 50%;
}

a.navbar-brand{
  padding: 5px 25px !important;
}

.navbar{
  margin-bottom: 0px;
}
.navbar-inverse{
  border-radius: 0px;
}
nav.navbar-inverse,.header{
  background-color: #e94c3d !important;
  border-color: #e3665b;
}
.navbar-header{
  margin-left:5px;
  width:90%;
}
.navbar-header a{
  color: #ffffff;
}
.navbar-toggle{
  border:none;
}
.navbar-brand{
  padding-top: 5px;
}
.ti-root, .jumbotron{
  background-color: #e94c3d;
  color: #ffffff;
}

section{
  padding: 120px 0;
}

#services, .c1{
    background-color: rgb(249,243,238);
}
.ti-root{
  padding-bottom: 80px;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.service-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;

  display: flex; /* so child elements can use flexbox stuff too! */
}
.socialb{
  width:4%;
}

.col-xs-12{
  padding: 0px;
}

.headline{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  text-align:left;
}

/** ROBOTO ANIMATION **/
#boy, #boddy{
  fill:#ed4030;
}

#shield{
stroke:#9AD738 ;
}



/**
* contact form
*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.xcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



@media only screen and (max-width: 600px) {
  .navbar-header{

    width:100%;
  }
  .navbar-toggle{
    margin-right: 0px;
  }
  navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {

    background-color: #fff;
    color: #000;

}
}

.navbar-inverse .navbar-toggle {

    border-color: #fff;

}



svg {
  overflow:visible;
  float:right;
}

.baby {
  width: 50px;
}
